{{ define "pageTitle" }}{{ .Type }} {{ .ObjectID.Short }}{{ end }}

{{ define "main" }}
<div class="Object-navBack">
  <a href="/packs/{{ .Pack.Name }}">{{ template "pack_display_name.html" .Pack }}</a>
  /
</div>
<h1 class="PageTitle">{{ .Type }} {{ .ObjectID }}</h1>
<div class="Object-raw">
  <a href="/packs/{{ .Pack.Name }}/raw/{{ .ObjectID }}" data-turbo="false">Raw</a>
</div>

{{- if eq .Type "blob" }}
  {{- if eq .MediaType "image/bmp" "image/gif" "image/jpeg" "image/png" "image/webp" }}
    <img
      src="/packs/{{ .Pack.Name }}/raw/{{ .ObjectID }}"
      class="Blob--image"
      alt="{{ .ObjectID }}">
  {{- else if eq .MediaType "text/plain" }}
    {{- if .TooBig }}
      <p>
        Blob is too large to be shown ({{ .Size | byteSize }}).
        <a href="/packs/{{ .Pack.Name }}/raw/{{ .ObjectID }}" data-turbo="false">View raw</a>
      </p>
    {{- else }}
      <pre class="Blob">
        {{- .Raw | printf "%s" -}}
      </pre>
    {{- end }}
  {{- else }}
    <p>
      {{ .Size | byteSize }} binary blob (detected {{ .MediaType }}).
      <a href="/packs/{{ .Pack.Name }}/raw/{{ .ObjectID }}" data-turbo="false">Download</a>
    </p>
  {{- end }}
{{- end }}

{{- with .Tree }}
  <table class="Tree">
    <tbody>
      {{- range . }}
        <tr>
          <td class="Tree-mode">{{ .Mode }}</td>
          <th class="Tree-name" scope="row">{{ .Name }}</th>
          <td class="Tree-object"><a href="/packs/{{ $.Pack.Name }}/{{ .ObjectID }}">{{ .ObjectID }}</a></td>
        </tr>
      {{- end }}
    </tbody>
  </table>
{{- end }}

{{- with .Commit }}
  <div class="Commit">
    <div>
      <b>tree</b> <a href="/packs/{{ $.Pack.Name }}/{{ .Tree }}">{{ .Tree }}</a><br>
      {{- range .Parents }}
      <b>parent</b> <a href="/packs/{{ $.Pack.Name }}/{{ . }}">{{ . }}</a><br>
      {{- end }}
      <b>author</b> {{ .Author }} {{ template "commit_time.html" .AuthorTime }}<br>
      <b>committer</b> {{ .Committer }} {{ template "commit_time.html" .CommitTime }}
      {{- if .GPGSignature -}}
        <br>
        <b>gpgsig</b> &hellip;
      {{- end }}
    </div>

    <pre class="Commit-message">{{ .Message }}</pre>
  </div>
{{- end }}

{{- with .Tag }}
  <div class="Tag">
    <div>
      <b>object</b> <a href="/packs/{{ $.Pack.Name }}/{{ .ObjectID }}">{{ .ObjectID }}</a><br>
      <b>type</b> {{ .ObjectType }}<br>
      <b>tag</b> {{ .Name }}<br>
      <b>tagger</b> {{ .Tagger }} {{ template "commit_time.html" .Time }}<br>
    </div>

    <pre class="Tag-message">{{ .Message }}</pre>
  </div>
{{- end }}
{{ end }}
