{{ define "pageTitle" }}Pull{{ end }}

{{ define "main" }}
<h1 class="PageTitle">Pull</h1>

<form method="POST" action="/pull" data-controller="pull-form" class="PullForm">
  <turbo-frame id="PullForm-urlFrame" data-pull-form-target="urlFrame">
    <div class="PullForm-field">
      <label class="PullForm-label" for="PullForm-url">
        URL
      </label>
      <div class="PullForm-urlBar">
        <input
          type="text"
          inputmode="url"
          name="url"
          id="PullForm-url"
          class="PullForm-url"
          value="{{ .URL }}"
          data-pull-form-target="url">
        <button
          type="button"
          class="PullForm-urlRefreshButton"
          data-action="pull-form#refreshRefs">
          Refresh
        </button>
      </div>

      <div id="js-PullForm-urlError">
        {{- template "pull_error.html" .URLError -}}
      </div>
    </div>
    <div class="PullForm-field">
      <div id="js-PullForm-refs">
        {{- template "pull_refs.html" .Refs -}}
      </div>

      <div id="js-PullForm-refsError">
        {{- template "pull_error.html" .RefsError -}}
      </div>
    </div>
  </turbo-frame>

  <div class="PullForm-actions">
    <input type="submit" value="Pull">
  </div>
</form>
{{ end }}
